:root {
    --primary: #24b834;
    --secondary: #167e20;
    --primary-darker: #4F4DFE;
    --bg: #070F2B;
    --white: #FFF;
    --profile-bg: #FFFFFD;
    --socials-bg: #F9FAFC;
    --highlight-bg: #F9FAFC;
    --text-bg: #878789;
    --text: #797C83;
    --border-color: #F4F4F4;
    --social-color: #6B6C6E;
    --active: #7774B5;
    --tab-bg: #EBE9FF;
    --tabs-border: #F2F6F5;
    --tab-width: 7rem;
    --tabs-gap: 0rem;
    --tab-radius: 0.4rem;
    --scrollbar-thumb: #e4e3f3;
    --scrollbar-bg: #F2F6F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline-offset: 0;
}

*::selection {
    background: var(--primary);
    color: var(--white);
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background: var(--scrollbar-bg);
    border-radius: 9.99rem;
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 9.99rem;
}

body {
    font-family: 'Manrope', sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    user-select: none;
}

.profile {
    background: var(--profile-bg);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 70vh;
    max-width: 35rem;
    min-width: 20rem;
    margin: 0 auto;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile__highlight__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35rem;
    font-size: 0.8rem;
    width: 100%;
    flex-grow: 1;
}

.profile__highlight {
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    background: var(--highlight-bg);
    border: 1px solid var(--border-color);
}

.profile__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 0.75rem;
}

.profile__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
}

.profile__name h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

.profile__name p {
    font-size: 1.05rem;
    color: var(--text-bg);
}

.profile__avatar {
    flex-grow: 3;
    max-width: 8rem;
    min-width: 5rem;
}

.profile__avatar img {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: -50%;
    border: 4px solid var(--profile-bg);
}

.social-links {
    display: flex;
    margin: 0.5rem auto 1rem auto;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    flex-wrap: wrap;
}

.social-links a {
    background: var(--socials-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--border-color);
    color: var(--social-color);
    transition: all 0.3s;
}

.social-links a svg {
    width: 100%;
    height: 100%;
}

.social-links a:hover {
    border: 1px solid var(--active);
}

.social-links a:hover svg {
    stroke: var(--active);
}

.hobbies {
    display: flex;
    margin: 0rem auto;
    width: 40%;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    flex-wrap: wrap;
}

.hobbies a {
    background: var(--socials-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--border-color);
    color: var(--social-color);
    transition: all 0.3s;
}

.hobbies a svg {
    width: 100%;
    height: 100%;
}

.hobbies a:hover {
    border: 1px solid var(--active);
}

.hobbies a:hover svg {
    stroke: var(--active);
}
.hobbies li a img{
    width: 50px;
}
.btn {
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    min-height: 3rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}
.btn_contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn--primary {
    background: var(--primary);
}

.btn--primary:hover {
    background: var(--secondary);
}

.profile main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.tabs-wrapper {
    overflow-x: auto;
    padding-bottom: 0.25rem;
}

.tabs {
    position: relative;
    display: flex;
    gap: var(--tabs-gap);
    border: 1px solid var(--tabs-border);
    border-radius: 0.5rem;
    min-height: 3rem;
    list-style-type: none;
}

.tabs li {
    display: flex;
    z-index: 3;
}

.tabs li a {
    padding: 0.75rem 1rem;
    border-radius: var(--tab-radius);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--text);
    text-decoration: none;
    text-align: center;
    border: none;
    min-width: var(--tab-width);
    outline: none;
}

.tabs li a:hover {
    color: var(--active);
}

.tabs li a.active {
    color: var(--active);
    font-weight: 600;
}

.tab-content {
    display: none;
    overflow-y: auto;
}
.tab1Text{
    margin-bottom: 10px;
    line-height: 25px;
}


.__active {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 12rem;
    padding: 0 0.25rem;
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

#active-bg {
    position: absolute;
    width: 100%;
    isolation: isolate;
    max-width: var(--tab-width);
    height: 100%;
    bottom: 0;
    background: var(--tab-bg);
    z-index: 1;
    transition: 0.5s;
    border-radius: var(--tab-radius);
}

.tabs li:nth-child(1):has(.active)~#active-bg {
    transform: translateX(calc(0));
}

.tabs li:nth-child(2):has(.active)~#active-bg {
    transform: translateX(calc(var(--tab-width) + var(--tabs-gap)));
}

.tabs li:nth-child(3):has(.active)~#active-bg {
    transform: translateX(calc(var(--tab-width)*2 + var(--tabs-gap)*2));
}
.tabs li:nth-child(4):has(.active)~#active-bg {
    transform: translateX(calc(var(--tab-width)*3 + var(--tabs-gap)*3));
}

.content-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.75rem;
    padding: 0.5rem 0;
}

.content-links li a {
    display: flex;
    background: var(--socials-bg);
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.35rem;
    color: var(--text);
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--border-color);
    transition: all 0.3s;
    justify-content: space-between;
}

.content-links li a:hover {
    border: 1px solid var(--active);
    color: var(--active);
}

.reviews {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.review {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--highlight-bg);
    border: 1px solid var(--border-color);
}

.review img {
    width: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}